table,
th,
td {
    border: 2px solid red;
    border-collapse: 
    
}
table {
    width: 30%;
}
th {
    height: 70px;
    text-align: center;
}
td {
    padding: 10px;
    text-align: center;
}
.img {
    width: 10%;
    height: 10%;
    padding: 0%;
}